.passion-list {
  list-style: none;
    border-left: 9px solid #08162d;
  }
  .passion-list > li {
    padding: 10px 0 10px 0;
  }
  .extra-list {
    list-style: none;
    border-left: 9px solid #08162d;    
  }
  .extra-list > li {
    padding: 3px 0 3px 0;
  }

.extra-description {
  
}