.modal-main {
    background: #1e3352;
    border-radius: 10px;
    position: fixed;
    width: 75%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-btn {
        background-color: transparent;
        border: none;
        position: fixed;
        top: 1%;
        right: 0.5%;

        img {
            max-width: 25px;
        }
    }

    header {
        width: 85%;
        top: 6%;
        left: 6%;
        position: fixed;
    }
}

.modal-nav {
    border-radius: 10px;
    position: fixed;
    width: 75%;
    height: fit-content;
    top: -15px;
    left: -15px;

    button {
        background: rgba(78, 80, 84, 0.142);
        background: linear-gradient(90deg, rgba(78, 80, 84, 1) 0%, rgba(27, 38, 52, 1) 3%, rgba(18, 29, 47, 1) 11%, rgba(6, 12, 22, 0.144) 80%);
        border-top-left-radius: 9px;
        border-top-right-radius: 5px;
        border-left: 2px solid #686b70;
        border-top: 1px solid #2f3136;
        border-right: 2px solid #151e26;
        border-bottom: 2px solid #191d21;
        height: 30px;
        margin-right: 6px;
    }
}

.modal-description {
    width: 50%
}