* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  color: whitesmoke;
  background-color: rgb(27, 27, 32);
  font-family: source-code-pro, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}